<div class="jumbotron">
  <div class="container">
    <h1>mGarsteck</h1>
    <p>JUST ONE GUY WHO SAID</p>
    <h2>FUCK IT!</h2>
    <%= link_to "FOLLOW MY ADVENTURE!", "#", class: "btn btn-primary btn-lg" %>
  </div>
</div>


