$navbar-default-bg: #ffffff;


@import "bootstrap-sprockets";
@import "bootstrap";

#logo {
  float: left;
  font-size: 1.7em;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue";
  
}

#logo:hover {
  background-color: #f2f2f2;
}

.center {
  text-align: center;
}

.jumbotron {
  background-image: asset-url('main_header_4.jpg');
  background-size: cover;
  height: 485px;
  padding-left: 10px;
}



footer {
  bottom: 0px;
  position: absolute;
  width: 100%;
  margin-bottom: 5px;
  padding-bottom: 0px;
  padding-left: 10px;
  border-top: dotted 1px #999999;
  
}

footer ul {
  bottom: 2px;
  float: right;
  padding-right: 10px;
  list-style: none;
  
}

footer ul li {
  float: left;
  margin: 10px;
  
}

#form-content-control {
  margin-left: auto;
  margin-right: auto;
}

.article-actions {
  border-top: 1px solid #999999;
  padding-top: 20px
}