<div class=container>
  <footer class="footer">
    <small>
      Copyright &copy; <a href="www.mgarsteck.com">Full Site</a> 

    </small>
    <ul>
      <li>
        <%= link_to "About", about_path %>
      </li>
      <li>
        <%= link_to "Articles", articles_path %>
      </li>
    </ul>
  </footer>
</div>
  